:root {
  --primary-color: #5696ae;
  --white-color: #ffffff;
  --yellow-color: #efad57;
  --red-color: #e76d7a;
  --green-light-color: #95b2af;
  --black-color: #000;
  --gap: 2rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 1.5;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 8rem;
  margin-bottom: 6rem;
  text-transform: uppercase;
  font-size: 5rem;
  margin-bottom: 3rem;
  text-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
  line-height: 1.2;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
}

.main-bg {
  background-image: url("../img/Fundo.incentivar.svg");
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
}

.white-bg {
  background: var(--white-color);
}

.white-bg {
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem var(--gap);
}

.section {
  min-height: 100vh;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu h1 {
  font-size: 2.3rem;
  color: var(--primary-color);
}

.menu h1 a {
  color: inherit;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li a {
  display: block;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.menu ul li a:hover {
  color: var(--red-color);
  transition: all 300ms ease-out;
}

.menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: var(--red-color);
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 50%;
  left: 25%;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 5rem;
  width: auto;
  border-radius: 9px;
}

.logo-area a {
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: none;
}

.menu-spacing {
  height: 7rem;
}

.home-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
  min-height: 100vh;
}

.home-text-content,
.home-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.home-text-content h2 {
  padding-top: 3rem;
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

.shadow-text-content {
  text-transform: uppercase;
  font-size: 5rem;
  margin-bottom: 3rem;
  text-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
  line-height: 1.2;
}

.destaque {
  color: var(--white-color);
  text-shadow: 0 0.2rem 0.8rem var(--green-light-color);
}

.home-img img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 100vh;
}

.efect {
  text-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
}

.color-text-blue {
  color: var(--primary-color);
  text-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.4);
}

.color-text-black {
  color: var(--black-color);
  text-shadow: 0 0.1rem 0.3rem var(--green-light-color);
}

.sobre-content {
  max-width: 64rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.grid-one-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
}

.grid-main-heading {
  margin-bottom: 1rem;
}

.grid-description {
  padding-bottom: 10rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  counter-reset: counter-grid;
}

.grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2rem;
}

.grid h3::before {
  counter-increment: counter-grid;
  content: counter(counter-grid);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -4rem;
  left: -2rem;
  transform: rotate(5deg);
}
